{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} | Login {% endblock %}

{% block content %}
    <h1>Reset Password</h1>

    <form method="post" name="forgotten-pass" id="forgotten-pass" action="{% url "forgotten-password" %}" class="form">
        <fieldset>
            {% csrf_token %}
            <div class="form-group">
                <div class="field {% if form.username.errors %}error{% endif %}">
                    <input id="id_username" name="username" type="text" class="form-control" placeholder="Enter Username">
                    <div class="errormsg">{% if form.username.errors %}{{ form.username.errors }}{% endif %}</div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="btn">Submit</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}
